@import '../variables';

.link {
  position: relative;
  width: $navbar-size;
  font-size: 1.25rem;
  text-align: center;
  padding: .8rem 0;
  margin: .5rem 0;
  
  &.selected {
    &:hover svg,
    svg {
      fill: $main;
    }

    &::after {
      content: '';
      background: $main;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 5px;
      height: 90%;
      border-radius: 0 15px 15px 0;
    }
  }

  &:hover svg {
    fill: $white;
  }

  svg {
    fill: $white-dark;
    transition: fill .2s ease-in-out;
  }
}